<div class="mainFeed">
    <div class="feedAction">
        <p><strong>Kenya</strong> posted a picture</p>
        <p>10/10/2010</p>
    </div>
    <div class="image">
    <img src="https://images.pexels.com/photos/699624/forest-autumn-orange-colorful-699624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <div class="feedActivity">
        <div class="feedActivity">
            <p (click)="likeOnClick()" style="margin-right: 0.2em;">
                <i class='bx bx-heart bx-sm bx-tada-hover' style="color:lightseagreen ;"></i>
            </p>
            <p>{{numberOfLikes}}</p>
            
        </div>
        <div class="feedActivity">
            <p style="margin-right: 0.2em; margin-left:0.7em">
                <i class='bx bx-message-rounded-dots bx-sm bx-tada-hover' style="color:lightseagreen ;"></i>
            </p>
            <p>2</p>
        </div>
    </div>
</div>
</div> <br>