<div class="feeds">
    <div class="navbar background">
        <app-navbar (userName)="userFeedFunction($event)" (allFeeds)="allFeeds()"></app-navbar>
        
    </div>

    <div class="all-feeds ">
        <div class="random">
            <p style="margin-top: 1.9em;">Hey <span><i class='bx bxs-hand bx-tada bx-xs primary'></i></span> <br> You
                are signed in as:</p>
            <div class="randomuser">
                <img src="{{randomuser?.picture?.large}}" alt="">
                <p>{{randomuser?.name?.first}}</p>
            </div>
        </div>

        <div class="feed-details" *ngFor="let posts of postList; index as i">
            <!-- POST FEED ALERT -->
            <div *ngIf="posts.hasOwnProperty('image')" class="main-feed">
                <div class="img-section ">

                    <p><strong>{{posts.subject}}</strong> {{posts.action}} a new {{posts.object}}</p>
                    <p> {{posts.date | date: "dd/MM/yyyy"}}  </p>
                </div>
                <!-- <hr class="image-hr"> -->
                <div class="image-post">
                    <div class=" image">
                        <img class="img" src="{{posts.image}}" alt="">                                               

                    </div>

                    <div class="comment-section">
                        <h5 style="font-size: medium; text-align: center;">Comments</h5>
                        <div class="comments">
                       
                            <div *ngFor="let comments of posts.comments">
    
                                <p><strong>{{comments.commenter}}:</strong> &nbsp; {{comments.comment}} </p>
                                
                </div>
                            
                        </div>
                        <div class="feed-activity feed-icons">
                            <div class="feed-activity">
                                <p (click)="likeOnClick(i)" >
                                    <i class='bx bx-heart bx-sm bx-tada-hover outline'></i>
                                </p>
                                <p>{{posts.likes.length}}</p> &nbsp; &nbsp;

                            </div>
                            <div class="feed-activity">
                                <p  >                                    
                                    <i class='bx bx-message-rounded-dots bx-sm bx-tada-hover outline'></i>
                                </p>
                                <p>{{posts.comments.length}}</p> &nbsp; &nbsp;

                            </div>
                            <div class="feed-activity ">
                                <input class="outline" placeholder="add comment here..." name="comment" [(ngModel)]="comment">
                                <i (click)="postComment(i)" class='bx bx-send bx-sm bx-tada-hover outline'></i>

                            </div>
                        </div> 
                    </div>
                   
                    
                    
                </div>
            </div>

            <!-- COMMENT FEED ALERT -->
            <div *ngIf="posts.hasOwnProperty('info')" class="main-feed">
                <div class="feed-action">
                    <p><strong>{{posts.subject}}</strong> {{posts.action}} <strong>{{posts.owner}}</strong>
                        {{posts.object}}</p>
                    <p>{{posts.date | date: "dd/MM/yyyy"}} </p> 

                </div>
                <h6>"<strong>{{posts.message}}</strong>"</h6>

            </div>
            <!-- LIKE FEED ALERT -->
            <div class="main-feed">
                <div *ngIf="posts.hasOwnProperty('upvote')" class="feed-action">
                    <p><strong>{{posts.subject}}</strong> {{posts.action}} <strong>{{posts.owner}} </strong>
                        {{posts.object}} </p>
                    <p>{{posts.date | date: "dd/MM/yyyy"}}</p> 
                </div>
            </div>

        </div>
    </div>
</div>