
input {
    margin: 0.2em;
    width: 15em;
    border: 1px solid lightseagreen;
    border-radius: 1em;
    padding-left: 1em;
    padding: 0.5em;
    /* margin-left: 4em; */
    margin-bottom: 0.8em;
}
h5{
    font-weight: 600;
    
}
