<div class="feeds">
    <div class="navbar">
        <app-navbar (userName)="userFeedFunction($event)" (allFeeds)="allFeeds()"></app-navbar>

    </div>

    <div class="allFeeds">
        <div class="random">
            <p style="margin-top: 1.9em;">Hey <span><i class='bx bxs-hand bx-tada bx-xs primary'></i></span> <br> You
                are signed in as:</p>
            <div class="randomuser">

                <img src="{{randomuser?.picture?.large}}" alt="">
                <p>{{randomuser?.name?.first}}</p>
            </div>
        </div>

        <div *ngFor="let posts of postList; index as i">
            <!-- POST FEED ALERT -->
            <div *ngIf="posts.hasOwnProperty('image')" class="mainFeed">
                <div class="feedAction ">

                    <p><strong>{{posts.subject}}</strong> {{posts.action}} a new {{posts.object}}</p>
                    <p> {{posts.date | date: "dd/MM/yyyy"}} </p>
                </div>
                <div class="imagepost">
                    <div class=" image">
                        <img src="{{posts.image}}" alt="">
                        <div class="feedActivity feedicon">
                            <div class="feedActivity">
                                <p (click)="likeOnClick(i)" style="margin-right: 0.2em;">
                                    <i class='bx bx-heart bx-sm bx-tada-hover primary'></i>
                                </p>
                                <p>{{posts.likes.length}}</p> &nbsp; &nbsp;

                            </div>
                            <div class="feedActivity">
                                <p  style="margin-right: 0.2em;">
                                    
                                    <i class='bx bx-message-rounded-dots bx-sm bx-tada-hover primary'></i>
                                </p>
                                <p>{{posts.comments.length}}</p> &nbsp; &nbsp;

                            </div>

                            <div class="feedActivity ">
                                <input placeholder="add comment here..." name="comment" [(ngModel)]="comment">
                                <i (click)="postComment(i)" class='bx bx-send bx-sm bx-tada-hover primary'></i>

                            </div>
                        </div>
                        

                    </div>
                    <div class="comment">
                        <h5 style="font-size: medium;">Comments</h5>
                        <div *ngFor="let comments of posts.comments">

                            <p><strong>{{comments.commenter}}:</strong> &nbsp; {{comments.comment}}</p>
                        </div>
                    </div>

                </div>


            </div>
            <!-- COMMENT FEED ALERT -->
            <div *ngIf="posts.hasOwnProperty('info')" class="mainFeed">
                <div class="feedAction">
                    <p><strong>{{posts.subject}}</strong> {{posts.action}} <strong>{{posts.owner}}</strong>
                        {{posts.object}}</p>
                    <p>{{posts.date | date: "dd/MM/yyyy"}}</p>

                </div>
                <h6>"<strong>{{posts.message}}</strong>"</h6>

            </div>
            <!-- LIKE FEED ALERT -->
            <div class="mainFeed">
                <div *ngIf="posts.hasOwnProperty('upvote')" class="feedAction">
                    <p><strong>{{posts.subject}}</strong> {{posts.action}} <strong>{{posts.owner}} </strong>
                        {{posts.object}} </p>
                    <p>{{posts.date | date: "dd/MM/yyyy"}}</p>
                </div>
            </div>



        </div>
    </div>
</div>