.allFeeds{
    width: 75%;
    float: left;
    margin-left: 25%;
    padding: 3em 3em;
    background-color: black;
    color: white;
    height: 100vh;
}
.navbar{
    width: 25%;
    float: left;
    


}