.modal {
    border-radius: 0.2em;
    background-color: rgb(221, 243, 242);
}

textarea {
    margin: 0.7em;
    width: 30%;
    border: 1px solid lightseagreen;
    border-radius: 1em;
    padding-left: 0.5em;
    /* padding-top: 0.5em; */
    padding: 0.5em;
}

.commentSection {
    display: flex;
    align-items: center;
}